$gray:       #f7f8fa;
$dark-gray:  #a7a7a7;
$primary:    #3f51b5;
$secondary:  #9f78ff;

/***********************************/
/**        PADDING & MARGIN       **/
/***********************************/
$spaceamounts: (0, 5, 10, 20, 40);
$sides: (top, bottom, left, right);